@charset "utf-8";
/* CSS Document */
body{
	font-family: 'Dekko', cursive;
	background:#F7F7F7;
}
h1{
	text-align:center;
	margin-top:45px;
	margin-bottom:15px;
	color:black;
	font-size:45px;
	color:#3A3B3A;
	
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.subtitle{

	display:block;
	
}

.section{
	position:relative;
	border:1px solid black;
	margin: 5px 10px;
  	height: 160px;
 	border: 1px solid black;
	border-radius: 4px;
}
.row{
position:relative;
width:100%;
height:auto;
padding:10px;
}

.desc{
position:absolute;
top:35px;
padding:10px;
width:100%
height:auto;
}

.subtitle{
	display:block;
	position:absolute;
	top:-1px;
	right:-1px;
	border-radius: 0 06px 0 0px;
	border:1px solid black;
	width:100px;
	color:white;
	font-size:20px;
	text-align:center;
 	text-shadow: 1px 1px 5px rgba(0,0,0,.3);
}

#chicken {
  background:#FFA83A;
}

#Beef {background:#F8080C;
}

#Sushi{
	background:#7E72EB;
}
#s1 {
  background:#FFECCD;
}
#s2 {
  background: #F9D0D1;
}
#s3 {
  background: #CBF8F7;}
  
/********** Desktop +922  **********/
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
    height: auto;
    margin-bottom: 10px;  
  }
  .col-lg-1 {width: 8.33%;}
  .col-lg-2 {width: 16.66%;}
  .col-lg-3 {width: 25%;}
  .col-lg-4 {width: 33.33%;}
  .col-lg-5 {width: 41.66%;}
  .col-lg-6 {width: 50%;}
  .col-lg-7 {width: 58.33%;}
  .col-lg-8 {width: 66.66%;}
  .col-lg-9 {width: 74.99%;}
  .col-lg-10 {width: 83.33%;}
  .col-lg-11 {width: 91.66%;}
  .col-lg-12 {width: 100%;}
}
/********** tablet 768-991 px  **********/
@media (min-width:768px) and (max-width:991px) {
 .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
    height: auto;
	 margin-bottom: 10px;
 }
 .col-md-1 {width: 8.33%;}
  .col-md-2 {width: 16.66%;}
  .col-md-3 {width: 25%;}
  .col-md-4 {width: 33.33%;}
  .col-md-5 {width: 41.66%;}
  .col-md-6 {width: 50%;}
  .col-md-7 {width: 58.33%;}
  .col-md-8 {width: 66.66%;}
  .col-md-9 {width: 74.99%;}
  .col-md-10 {width: 83.33%;}
  .col-md-11 {width: 91.66%;}
  .col-md-12 {width: 100%;}
  }
  /********** Mobile  max 767px **********/
@media (max-width: 767px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
    height: auto;
	 margin-bottom: 10px;
	
}
  .col-sm-1 {width: 8.33%;}
  .col-sm-2 {width: 16.66%;}
  .col-sm-3 {width: 25%;}
  .col-sm-4 {width: 33.33%;}
  .col-sm-5 {width: 41.66%;}
  .col-sm-6 {width: 50%;}
  .col-sm-7 {width: 58.33%;}
  .col-sm-8 {width: 66.66%;}
  .col-sm-9 {width: 74.99%;}
  .col-sm-10 {width: 83.33%;}
  .col-sm-11 {width: 91.66%;}
  .col-sm-12 {width: 100%;}
}
